.hover{
    cursor: pointer;
    font-size: 20px;
}
.hover_brand{
    cursor: pointer;
    font-size: 30px;
    font-weight: 400;
    font-style: italic;
    margin-top: -4px;
}.header{
    background-color: #4a3f35;
    color:white;
     position: sticky;
  top: 0;
  z-index: 1000;
}
.inp{
font-size: 25px;
}
.head-link{
    text-decoration: none;
    color: white;
        transition: color 0.3s ease, transform 0.3s ease;

}
.head-link:hover{
    text-decoration: none;
     color: #198754;
    transform: translateY(-2px); /* lift text slightly */
}
